@page
@model WAWillClinicFrontEnd.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>Who We Are</h2>

<p>The WA Vets Will Clinic was founded in 2012 by the Spokane County Bar Association Young Lawyers Division in collaboration with Army OneSource, Gonzaga University School of Law, 
	Red Cross - Inland Northwest Region, Vet Center (U.S. Department of Veterans Affairs), and  Washington State Department of Veterans Affairs. </p>
	
<p>The purpose of the WA Vets Will Clinic is to provide free estate planning documents to eligible veterans of the U.S. Armed Forces.</p>

<p>You must apply using the WA Vets Will Clinic online intake form in order to be considered for free estate plan documents - all WA Vets Will Clinic events are by appointment only 
	(no walk-ups). In order to qualify for a WA Vets Will Clinic event, an applicant must:</p>

<ul>
	<li>Be a Washington State resident; and</li>
	<li>Be a Veteran of a branch of the United States Armed Forces (or a spouse of a living Veteran); and</li>
	<li>Have a DD214 (Report of Separation or some other official document evidencing military service); and</li>
	<li>Have a net worth of less than $500,000.00 ($1,000,000.00 if married); and</li>
	<li>Agree to the <a href="#">terms and conditions</a> available on this website, those in the online enrollment application, and any other conditions in place for individual Clinic events. </li>
</ul>

<p>Not all that apply will be selected, and all use and all participation and use is subject to the WA Vets Will Clinic <a href="#">
	terms, conditions and disclaimer</a>, as amended from time to time.</p>

<p>(c) 2012-18 WA Vets Will Clinic</p>
