@page
@model WAWillClinicFrontEnd.Pages.AboutModel
@{
	ViewData["Title"] = "About";
	Layout = "_Layout";
}

<h2>Who We Are</h2>

<div class="content">
	<img src="https://lh3.googleusercontent.com/VIJ2pHFOMohYGP1U_FAN5N2ITHkIKgry-Y_ka1A-uUqXd51zFw9KIIUtXi6O73KITOa2CpZdki4=w288-h192">
	<p>
		The WA Vets Will Clinic was founded in 2012 by the Spokane County Bar Association Young Lawyers Division in collaboration with Army OneSource, Gonzaga University School of Law,
		Red Cross - Inland Northwest Region, Vet Center (U.S. Department of Veterans Affairs), and  Washington State Department of Veterans Affairs.
	</p>

	<p>The purpose of the WA Vets Will Clinic is to provide free estate planning documents to eligible veterans of the U.S. Armed Forces.</p>


	<p>(c) 2012-18 WA Vets Will Clinic</p>
</div>
