@page
@model WAWillClinicFrontEnd.Pages.Add_UserModel
@{
    Layout = "_Layout";
}

<h2>Add user</h2>

<form method="post">
    <input type="text" name="Name" required placeholder="Full Name" title="Please input a full name" />
    <br />
    <input type="email" name="Email" required placeholder="Email Address" title="Please input an email address" />
    <br />
    <input type="tel" name="Phone" required placeholder="Phone Number" title="Please input a phone number" />
    <br />
    <input type="submit" value="Add User"/>
</form>
