@page
@model WAWillClinicFrontEnd.Pages.Add_UserModel
@{
    Layout = "_Layout";
}

<h2>Add user</h2>

<form method="post">
    <input type="text" name="FirstName" required placeholder="First Name" title="Please input a first name" />
    <br />
    <input type="text" name="LastName" required placeholder="Last Name" title="Please input a last name" />
    <br />
    <input type="email" name="Email" required placeholder="Email Address" title="Please input an email address" />
    <br />
    <input type="tel" name="Phone" required placeholder="Phone Number" title="Please input a phone number" />
    <br />
    <input type="submit" value="Add User"/>
</form>
