@page
@model WAWillClinicFrontEnd.Pages.ContactModel;
@{
    ViewData["Title"] = "Contact Us";
    Layout = "_Layout";
}

<div class="form-border">
    <h2>Contact Us</h2>
    <div class="content">
        <p>
            If you would like to volunteer for the WA Vets Will Clinic, please navigate to our "Volunteer" page and sign up there.
        </p>
    </div>

    <form method="post" class="content">

        <p>
            Fill out the form below to contact our organization. Please do not submit confidential information. No attorney client privilege is
            created by contacting our organization, nor can we guarantee service of any kind.
        </p>
        <label asp-for="FirstName"></label>
        <br />
        <input type="text" name="firstName" required autofocus title="Please enter your first name." />
        <br />

        <label asp-for="Email"></label>
        <br />
        <input type="text" name="email" required autofocus />
        <br />

        <label asp-for="Phone"></label>
        <br />
        <input type="tel" name="phone" required autofocus pattern="[0-9]{10}" title="Please enter a valid phone number" />
        <br />

        <label asp-for="Reason"></label>
        <br />
        <select name="reason" required asp-items="Html.GetEnumSelectList<WAWillClinicFrontEnd.Models.EmailMessages.ContactType>()">
            <option value="" disabled selected></option>
        </select>
        <br />

        <label>Additional Remarks</label>
        <br/>
        <textarea name="additionalRemarks"></textarea>
        <br />
        <input type="submit" />
        <br />
    </form>
    <div class="content">
        <p>
            This form and any other contact means provided on this website are provided without guarantee of service of any 
            kind or that you will receive a response to your question(s). No attorney-client relationship is established by use of 
            the above contact information, nor is there any obligation for any of the WA Vets Will Clinic or its affiliates to respond or 
            provide services.
        </p>
    </div>
</div>
