@page
@model WAWillClinicFrontEnd.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<h2>Dashboard</h2>

<section>
    <a asp-page="/add_user">Add user</a>
</section>
<section>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td> 
                <td><a asp-page="details" asp-route-id="@user.ID">edit</a></td>
            </tr>   
        }
    </table>
</section>

