@page
@model WAWillClinicFrontEnd.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<h2>Dashboard</h2>
<section class="content">
    <section id="admin-links">
        <a asp-page="/add_user">Add guest</a>
        <a asp-page="/change_password">Change Password</a>
        <a href="/logout">Logout</a>
    </section>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Check-In Status</th>
        </tr>
        @foreach (var user in Model.Users)
        {
        <tr>
            <td><a asp-page="details" asp-route-id="@user.ID">@user.Name</a></td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            @if (user.CheckedIn)
            {
                <td><input type="checkbox" checked disabled/></td>
            }
            else
            {
                <td><input type="checkbox" disabled/></td>
            }
        </tr>
        }
    </table>
</section>

