@page
@model WAWillClinicFrontEnd.Pages.faqsModel
@{
	//Layout = "_Layout";
	Layout = "_faq";
}

@*cards class needs to wrap index, so that the cards are side by side on desktop view*@
@*<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/css/reset.css" />
	<link rel="stylesheet" href="~/css/base.css" />
	<link rel="stylesheet" href="~/css/layout.css" />
	<link rel="stylesheet" href="~/css/module.css" />
	<link rel="stylesheet" href="~/css/faq.css" />*@

	
	<h2>FAQs</h2>
	<div class="wrapper">

		<div class="header">
			<h1 class="header__title">Expanding Card Grid</h1>
			<h2 class="header__subtitle">with Flexbox</h2>
		</div>

		<div class="cards">

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

			<div class=" card [ is-collapsed ] ">
				<div class="card__inner [ js-expander ]">
					<span>Card</span>
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="card__expander">
					<i class="fa fa-close [ js-collapser ]"></i>
					Expander
				</div>
			</div>

		</div>

	</div>





@*<script src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous"></script>
	<script src="~/js/app.js"></script>
	<script src="~/js/faq.js"></script>*@

@*<div class="cards">
		<section class="index">

				<div class=" card [ is-collapsed ] ">
					<div class="card__inner [ js-expander ]">
						<div>What is the WA Vets Will Clinic</div>
						<div class="card__expander">
							<i class="fa fa-bars [ js-collapser ]"></i>
							Founded in 2012, WA Vets Will Clinic is a collaboration between Army OneSource, Gonzaga University School of Law, Red Cross - Inland Northwest Region, Spokane County Bar Association Young Lawyers Division, Vet Center (U.S. Department of Veterans Affairs), and  Washington State Department of Veterans Affairs.
							The sole purpose of the WA Vets Will Clinic is to provide free estate planning documents to eligible veterans of the U.S. Armed Forces.
						</div>
					</div>

					<div>Who is eligible for the WA Vets Will Clinic?</div>
					<div>How do I sign up?</div>
				</div>

				<div>When is the next WA Vets Will Clinic event?</div>
				<div>Where can I find out about other Veteran's services?</div>

		</section>
	</div>*@