@page
@model WAWillClinicFrontEnd.Pages.FAQsModel;
@{
	Layout = "_Layout";
}

<p id="qual-descript">Frequently Asked Questions:</p>
<div class="cards">
	<div class="card [ is-collapsed ]">
		<div class="card__inner [ js-expander ]">
			<span class="qual-rec">What is the WA Vets Will Clinic</span>
		</div>
		<div class="card__expander">
			
				Founded in 2012, WA Vets Will Clinic is a collaboration between Army OneSource,
				Gonzaga University School of Law, Red Cross - Inland Northwest Region, Spokane
				County Bar Association Young Lawyers Division, Vet Center (U.S. Department of
				Veterans Affairs), and  Washington State Department of Veterans Affairs.
				The sole purpose of the WA Vets Will Clinic is to provide free estate planning
				documents to eligible veterans of the U.S. Armed Forces.
			
		</div>
	</div>
		<div class="qual-rec">Who is eligible for the WA Vets Will Clinic program</div>
		<div class="qual-rec">How do I sign up?</div>

		<div class="qual-rec" ">When is the next WA Vets Will Clinic event?</div>
		<div class="qual-rec">Where can I find out about other Veteran's services?</div>

</div>

<h2 id="what">What is the WA Vets Will Clinic?</h2>
<div class="content">
	<p>
		Founded in 2012, WA Vets Will Clinic is a collaboration between Army OneSource,
		Gonzaga University School of Law, Red Cross - Inland Northwest Region, Spokane
		County Bar Association Young Lawyers Division, Vet Center (U.S. Department of
		Veterans Affairs), and  Washington State Department of Veterans Affairs.
		The sole purpose of the WA Vets Will Clinic is to provide free estate planning
		documents to eligible veterans of the U.S. Armed Forces.
	</p>
</div>
<br />
<h2 id="who">Who is eligible for the WA Vets Will Clinic program?</h2>
<div class="content">
	<p class="center">
		In order to qualify for a WA Vets Will Clinic event, an applicant must:
		<ol>
			<li>Be a Washington State resident; and </li>
			<li>Be a Veteran of a branch of the United States Armed Forces </li>
			<li>Have a DD214 (Report of Separation or some other official document evidencing military service); and </li>
			<li>Have a net worth of less than $500,000.00 ($1,000,000.00 if married)</li>
		</ol>
		Additional conditions may be in place for individual Clinic events.
	</p>
</div>
<br />

<h2 id="how">How do I sign up?</h2>

<div class="content">
	<p>
		You must apply using the WA Vets Will Clinic online intake form in order to be
		considered for free estate plan documents - all WA Vets Will Clinic events are
		<strong>by appointment only</strong> (no walk-ups). Not all that apply will be selected, and all
		use and participation is subject to the WA Vets Will Clinic terms, conditions
		and disclaimer, as amended from time to time.
	</p>
</div>
<br />

<h2 id="when">When is the next WA Vets Will Clinic event?</h2>

<div class="content">
	<p>Please visit <a href="">here</a> for current Clinic offerings.</p>
</div>
<br />

<h2 id="where">Where can I find out about other Veteran's services?</h2>

<div class="content">
	<p>
		Below is a list of groups that offer services for veterans. Some of these groups may
		be present at future WA Vets Will Clinic events. Although you need to sign up in advance
		for the WA Vets Will Clinic, NO APPOINTMENT IS NECESSARY TO COME TO THE CLINIC AND SPEAK
		WITH THE ORGANIZATIONS ON THIS PAGE.

		Please note that certain groups have eligibility requirements for services. Organizations
		on this list in no way guarantee service to those that inquire. WA Vets Will Clinic provides
		the following information as a community service, information provided on the WA Vets Will
		Clinic webpage is not intended to be referral or endorsement of any organization.
	</p>
	<div class="subsection">
		<h3>Army OneSource</h3>
		<h3>Website: <a>Army OneSource</a></h3>
		<p>
			Army OneSource (AOS) is a Secretary of the Army Initiative to provide a comprehensive
			community support and service delivery for Service Members and their Families regardless
			of component or geographic location. Through Community Support Coordinators located
			throughout the US and Pacific, ASO is raising awareness and generating support among the
			private sector to effectively serve the unique challenges of Military life, including the
			growing demand for behavior health, financial, legal and faith-based services. Utilizing
			traditional establishments on Military Installations, a Web-based portal, and local community
			partners, AOS is helping empower Service Members and their Family Members to be strong, healthy
			and connected to the best resources wherever they may be.
		</p>
	</div>
	<div class="subsection">
		<h3>American Red Cross - Inland Northwest Region</h3>
		<h3>Website: <a>Inland Northwest Red Cross</a></h3>
		<p>
			The American Red Cross links members of the U.S. Armed Forces stationed all over the world
			with their families through year-round emergency communications. Area Chapters also reach out
			and connect with local military communities through programs such as Visiting Vets, workshops
			for families of deployed soldiers, and Holiday Mail for Heroes.
		</p>
	</div>
	<div class="subsection">
		<h3>
			Gonzaga University School of Law:
			University Legal Assistance at the Gonzaga Center for Law and Justice
		</h3>
		<h3>Website: <a>University Legal Assistance</a></h3>
		<p>
			The The Gonzaga Center for Law and Justice is home to University Legal Assistance (ULA),
			and provides a variety of legal services in areas such as consumer and elder law.
		</p>
	</div>
	<div class="subsection">
		<h3>
			Washington State Department of Veterans Affairs
			State Veterans Cemetery at Medical Lake
		</h3>
		<h3>Website: <a>Washington Veterans Cemetery</a></h3>
		<p>
			Washington State Veterans Cemetery has information on how qualifying Veterans can obtain
			internment services at the State Cemetery. The Washington State Veterans Cemetery is part
			of the Washington State Department of Veterans Affairs, which provides a variety of veterans
			benefits.

			For married couples, you MUST have a marriage certificate with you at the Vets Will Clinic
			to pre-register for internment.
		</p>
	</div>
	<div class="subsection">
		<h3> United States Department of Veterans Affairs</h3>
		<h3>Website: <a>VA.gov</a></h3>
		<p>
			The Department of Veterans Affairs provides a wide range of benefits including, Disability,
			Education and Training, Vocational Rehabilitation and Employment, Home Loan Guaranty, Dependant
			and Survivor Benefits, Medical Treatment, Life Insurance and Burial Benefits.
		</p>
	</div>
	<div class="subsection">
		<h3>
			Washington State Department of Veterans Affairs
			Spokane Veterans Home
		</h3>
		<h3>Website: <a>Spokane Veterans Home</a></h3>
		<p>
			Washington State Veterans Homes are here to serve your rehabilitative or long-term care needs.
			Our homes are Medicare and Medicaid certified and ready to serve veterans and their widows or
			spouses who are eligible.
		</p>
	</div>
</div>
<br />