@page
@model WAWillClinicFrontEnd.Pages.faqsModel
@{
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/css/reset.css" />
	<link rel="stylesheet" href="~/css/base.css" />
	<link rel="stylesheet" href="~/css/layout.css" />
	<link rel="stylesheet" href="~/css/module.css" />
	<link rel="stylesheet" href="~/css/faq.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<title>@ViewBag.Title</title>
</head>

<body>
	<header>
		@*mobile nav*@
		<div id="blue-head">
			<nav>
				<h1><a href="/">The Will Clinic</a><i class="fas fa-times"></i></h1>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/signup">Sign-up</a></li>
					<li><a href="/volunteer">Volunteer</a></li>
					<li><a href="/about">Who We Are</a></li>
					<li><a href="/FAQs">FAQs</a></li>
					<li><a href="/contact">Contact us</a></li>
				</ul>
			</nav>
			<p>
				WA Vets Will Clinic <strong>would like to thank</strong> the following organizations and people
				for their participation and/or sponsorship:
			</p>
			<div>
				<ul>
					<li>Etter, McMahon, Lamberson, Clary & Oreskovich, P.C.</li>
					<li>Garco Construction, Inc.</li>
					<li>Pepsi Beverages Co.</li>
					<li>The Wake-Up Call Fine Coffee & Espresso</li>
					<li>Witherspoon Kelley</li>
				</ul>
			</div>
		</div>
		@*desktop nav*@
		<div id="white-head">
			<h1 id="title"><a href="/">The <br />Will Clinic</a></h1>
			<ul class="desktop-nav">
				<li><a href="/signup">Sign Up</a></li>
				<li><a href="/volunteer">Volunteer</a></li>
				<li><a href="/about">Who we are</a></li>
				<li><a href="/faqs">FAQs</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
			<i class="fas fa-bars"></i>
		</div>
	</header>

    <main>
	    <h2>FAQs</h2>
		<div class="wrapper">

			<div class="cards">

				<div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <span>What is the WA Vets Will Clinic?</span>
                        <div class="arrow-container">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i>
                        </div>
                    </div>
					<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						Founded in 2012, WA Vets Will Clinic is a collaboration between Army OneSource, Gonzaga University School of Law, Red Cross - Inland Northwest Region, Spokane County Bar Association Young Lawyers Division, Vet Center (U.S. Department of Veterans Affairs), and  Washington State Department of Veterans Affairs.
						The sole purpose of the WA Vets Will Clinic is to provide free estate planning documents to eligible veterans of the U.S. Armed Forces.
					</div>
				</div>



				<div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <span>How do I sign up?</span>
                        <div class="arrow-container">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i>
                        </div>
                    </div>
					<div class="card__expander">
						<i class="fa fa-close [ js-collapser ]"></i>
						You must apply using the WA Vets Will Clinic online intake form in order to be considered for free estate plan documents - all WA Vets Will Clinic events are by appointment only (no walk-ups). Not all that apply will be selected, and all use and participation is subject to the WA Vets Will Clinic terms, conditions and disclaimer, as amended from time to time.
					</div>
				</div>





				<div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <span>Who is eligible for the WA Vets Will Clinic Program</span>
                        <div class="arrow-container">
                            <i class="fas fa-chevron-down"></i>
                            <i class="fas fa-chevron-up"></i>
                        </div>
                    </div>
					<div class="card__expander">
						<div>
							In order to qualify for a WA Vets Will Clinic event, an applicant must:

							<ul>
								<li>Be a Washington State resident; and</li>
								<li>Be a Veteran of a branch of the United States Armed Forces</li>
								<li>Have a DD214 (Report of Separation or some other official document evidencing military service); and</li>
								<li>Have a net worth of less than $500,000.00 ($1,000,000.00 if married); and</li>
								<li>Additional conditions may be in place for individual Clinic events.</li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</div>

    </main>

	<script src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous"></script>
	<script src="~/js/app.js"></script>
	<script src="~/js/faq.js"></script>

</body>
</html>



@*<script src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous"></script>
	<script src="~/js/app.js"></script>
	<script src="~/js/faq.js"></script>*@

@*<div class="cards">
		<section class="index">

				<div class=" card [ is-collapsed ] ">
					<div class="card__inner [ js-expander ]">
						<div>What is the WA Vets Will Clinic</div>
						<div class="card__expander">
							<i class="fa fa-bars [ js-collapser ]"></i>
							Founded in 2012, WA Vets Will Clinic is a collaboration between Army OneSource, Gonzaga University School of Law, Red Cross - Inland Northwest Region, Spokane County Bar Association Young Lawyers Division, Vet Center (U.S. Department of Veterans Affairs), and  Washington State Department of Veterans Affairs.
							The sole purpose of the WA Vets Will Clinic is to provide free estate planning documents to eligible veterans of the U.S. Armed Forces.
						</div>
					</div>

					<div>Who is eligible for the WA Vets Will Clinic?</div>
					<div>How do I sign up?</div>
				</div>

				<div>When is the next WA Vets Will Clinic event?</div>
				<div>Where can I find out about other Veteran's services?</div>

		</section>
	</div>*@