@page
@model WAWillClinicFrontEnd.Pages.faqsModel
@{
    ViewData["Title"] = "FAQ";
    Layout = "_Layout";

}

<!DOCTYPE html>

@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using WAWillClinicFrontEnd.Models;

@*@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager*@

<html>
<body>

        <h2>FAQs</h2>
        <div class="wrapper">
            <div class="cards">
                <div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <span>What is the WA Vets Will Clinic?</span>
                        <div class="arrow-container">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="card__expander">
                        <i class="fa fa-close [ js-collapser ]"></i>
                        Founded in 2012, WA Vets Will Clinic is a collaboration between Army OneSource, Gonzaga University School of Law, Red Cross - Inland Northwest Region, Spokane County Bar Association Young Lawyers Division, Vet Center (U.S. Department of Veterans Affairs), and  Washington State Department of Veterans Affairs.
                        The sole purpose of the WA Vets Will Clinic is to provide free estate planning documents to eligible veterans of the U.S. Armed Forces.
                    </div>
                </div>
                <div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <span>How do I sign up?</span>
                        <div class="arrow-container">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="card__expander">
                        <i class="fa fa-close [ js-collapser ]"></i>
                        You must apply using the WA Vets Will Clinic online intake form in order to be considered for free estate plan documents - all WA Vets Will Clinic events are by appointment only (no walk-ups). Not all that apply will be selected, and all use and participation is subject to the WA Vets Will Clinic terms, conditions and disclaimer, as amended from time to time.
                    </div>
                </div>
                <div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <span>Who is eligible for the WA Vets Will Clinic Program?</span>
                        <div class="arrow-container">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="card__expander">
                        <i class="fa fa-close [ js-collapser ]"></i>

                        <div class="card-text">
                            In order to qualify for a WA Vets Will Clinic event, an applicant must:

                            <ul>
                                <li>Be a Washington State resident; and</li>
                                <li>Be a Veteran of a branch of the United States Armed Forces</li>
                                <li>Have a DD214 (Report of Separation or some other official document evidencing military service); and</li>
                                <li>Have a net worth of less than $500,000.00 ($1,000,000.00 if married); and</li>
                                <li>Additional conditions may be in place for individual Clinic events.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <span>
                            When is the next WA Vets Will Clinic event?
                        </span>
                        <div class="arrow-container">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="card__expander">
                        <i class="fa fa-close [ js-collapser ]"></i>
                        <div class="card-text">
                            Please consult the <a href="/signup">Sign Up</a> page for current Clinic offerings.
                        </div>
                    </div>
                </div>
                <div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <span>
                            Where can I find out about other Veteran's services?
                        </span>
                        <div class="arrow-container">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="card__expander fifthCard">
                        <div class="card-text">
                            <i class="fa fa-close [ js-collapser ]"></i>
                            If you're interested in additional veteran resources, please visit our Resources Page.

                            <p>
                                Please note that certain groups have eligibility requirements for services. Organizations on this list
                                in no way guarantee service to those that inquire. WA Vets Will Clinic provides the following information
                                as a community service, information provided on the WA Vets Will Clinic webpage is not intended to be
                                referral or endorsement of any organization.
                            </p>
                            <br />
                            <a href="/Resource">Go to Resources</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/faq.js"></script>

</body>
</html>