@page
@model WAWillClinicFrontEnd.Pages.IndexModel;
@{
    Layout = "_Layout";
}


<h2>Estate Planning documents for U.S. Veterans</h2>

<div class="link-div">
    <a href="#">More About Us</a>
</div>

<div class="side-lines">
    <h3>How It Works</h3>
</div>

<p>In order to qualify for a VA Vets Will Clinic event, an applicant must</p>
<section>
    <div class="qual-rec">Be a resident of the state of Washington</div>
    <div class="qual-rec">Be a veteran of a branch of the military</div>
    <div class="qual-rec">Have a DD form 214 or other official document</div>
</section>


<div class="link-div">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfO9ANDNCxJkq5DNhBoAg-TnGo-2V5YE2J1KClDEafoB2tOvw/viewform">Get Signed Up</a>
</div>
