@page
@model WAWillClinicFrontEnd.Pages.IndexModel;
@{
    Layout = "_Layout";
}

<div class="uppercase">
	<div class="side-lines">
		<h3 class="grey"><span>The Will Clinic</span></h3>
	</div>

	<h2>Estate Planning documents for U.S. Veterans</h2>

	<div class="link-div">
		<a href="#">More About Us</a>
	</div>

	<div class="side-lines">
		<h3 class="blue"><span>How It Works</span></h3>
	</div>

	<p id="qual-descript">In order to qualify for a WA Vets Will Clinic event, an applicant must</p>
	<section class="index">
		<div id="left-qual">
			<div class="qual-rec">Be a resident of the<br/> state of Washington</div>
			<div class="qual-rec">Be a veteran of a<br /> branch of the military</div>
			<div class="qual-rec">Have a DD form 214 or other<br /> official document</div>
		</div>
		<div id="right-qual">
			<div class="qual-rec">Have a net worth of<br /> less than $500k</div>
			<div class="qual-rec">Agree to the provided<br /> terms and conditions</div>
		</div>
	</section>

	<div class="link-div">
		<a asp-page="/signup">Get Signed Up</a>
	</div>
</div>
