@page
@model WAWillClinicFrontEnd.Pages.IndexModel;
@{
    Layout = "_Layout";
}


<div class="side-lines">
    <h1>The Will Clinic</h1>
</div>
<h2>Estate Planning for U.S. Veterans</h2>
<p>More About Us</p>
<div class="side-lines">
    <h3>How It Works</h3>
</div>
