@page
@model WAWillClinicFrontEnd.Pages.LocationChoiceModel
@{
    ViewData["Title"] = "Location Choice";
    Layout = "_Layout";

}
<h1>Choose a location to attend a clinic at</h1>

<div class="container">
    <form method="post">
        <div class="form-group">
            <div class="row">
                <label asp-for="LocationChoice">Location</label>
            </div>
            <div class="row">
                <select class="form-control" style="width:25%" asp-route-id="@Model.LocationChoice" asp-for="LocationChoice" asp-items="@Html.GetEnumSelectList(typeof(WAWillClinicFrontEnd.Pages.LocationChoiceModel.Location))"></select>
                <span asp-validation-for="LocationChoice"></span>
            </div>
        </div>
        <div class="row">
            <button type="submit">Choose Location</button>
        </div>
        <div class="row">
            <a asp-page="/contact">More Information</a>
        </div>
    </form>
</div>