@page
@model WAWillClinicFrontEnd.Pages.ResourceModel
@{
    ViewData["Title"] = "Resource";
    Layout = "_Layout";
}

<h2>Resources</h2>
<!--need to grab all of the resources from the code behind and have a foreach to loop and display all of the resources -->
<div>
    <h4>Title</h4>
    <img src="resource-image" alt="Alternate Text" />
    <link href="link-to-resource" rel="stylesheet" />
    <p>Description</p>
</div>


