@page
@model WAWillClinicFrontEnd.Pages.SignupModel;

@{
	Layout = "_Layout";
}

<h2>Sign Up</h2>

<p class="content">If you would like to join the Will Clinic, please sign up below.</p>
<br /><br />
	  <form method="post" class="content">
	  	<label asp-for="Agree">
	  		I HAVE READ THE WA VETS WILL CLINIC INFORMATION AND INSTRUCTIONS
	  		AND AGREE TO ITS TERMS.
	  	</label>
	  	<br />
	  	<input type="radio" name="Agree" value="Yes" /> Yes
	  	<input type="radio" name="Agree" value="No" /> No
	  	<span asp-validation-for="Agree"></span>
	  	<br />

	  	<label asp-for="Name">Full Legal Name</label><br />
	  	<input type="text" name="Name" required placeholder="Full Legal Name" title="Please input full name." />
	  	<span asp-validation-for="Name"></span>
	  	<br />

	  	<label asp-for="PhoneNumber">Phone Number</label><br />
	  	<input type="tel" name="PhoneNumber" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890"
			   title="Please input a phone number" />
	  	<span asp-validation-for="PhoneNumber"></span>
	  	<br />

	  	<label asp-for="Email">Email Address</label><br />
	  	<input type="email" name="Email" required placeholder="Email"
			   title="Please input an email address" />
	  	<span asp-validation-for="Email"></span>
	  	<br />

	  	<label asp-for="IsVeteran">
	  		Are you, or your spouse, a veteran of the United States Armed
	  		Forces?
	  	</label>
	  	<br />
	  	<input type="radio" name="IsVeteran" value="Yes" /> Yes
	  	<input type="radio" name="IsVeteran" value="No" /> No <br />
	  	<span asp-validation-for="IsVeteran"></span>
	  	<br />

	  	<label asp-for="IsWashingtonResident">Are you a Washington state resident?</label>
	  	<br />
	  	<input type="radio" name="IsWashingtonResident" value="Yes" /> Yes
	  	<input type="radio" name="IsWashingtonResident" value="No" /> No <br />
	  	<span asp-validation-for="IsWashingtonResident"></span>
	  	<br />

	  	<label asp-for="PreferredTime">Please indicate your preferred time to receive service.</label>
	  	<br />
	  	<input type="radio" name="PreferredTime" value="Morning" /> Morning
	  	<input type="radio" name="PreferredTime" value="Afternoon" /> Afternoon <br />
	  	<span asp-validation-for="PreferredTime"></span>
	  	<br />

	  	<label asp-for="ChooseMaritalStatus">What is your marital status?</label><br />
	  	<select asp-for="ChooseMaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatus>()"></select>
	  	<span asp-validation-for="ChooseMaritalStatus"></span>
	  	<br />

	  	<label asp-for="SpouseName">Full legal name of your spouse</label><br />
	  	<input type="text" name="SpouseName" required placeholder="Spouse's Name"
			   title="Please enter the full legal name of your spouse." />
	  	<span asp-validation-for="SpouseName"></span>
	  	<br />

	  	<label asp-for="HasChildren">Do you have any children?</label>
	  	<br />
	  	<input type="radio" name="HasChildren" value="Yes" /> Yes
	  	<input type="radio" name="HasChildren" value="No" /> No <br />
	  	<span asp-validation-for="HasChildren"></span>
	  	<br />

	  	<label asp-for="IsCurrentlyPregnant">
	  		Do you have any minor children?
	  		Or, are you, your spouse, or your partner currently pregnant?
	  	</label>
	  	<br />
	  	<input type="radio" name="IsCurrentlyPregnant" value="Yes" /> Yes
	  	<input type="radio" name="IsCurrentlyPregnant" value="No" /> No <br />
	  	<span asp-validation-for="IsCurrentlyPregnant"></span>
	  	<br />

	  	<label asp-for="MinorChildName">Full legal name(s) of your MINOR child(ren).</label><br />
	  	<input type="text" name="MinorChildName" required placeholder="Minor Child's Name"
			   title="Child's name." />
	  	<span asp-validation-for="MinorChildName"></span>
	  	<br />

	  	<label asp-for="ContRemBeneficiary">Contingent remainder beneficiary?</label>
	  	<select asp-for="ContRemBeneficiary" asp-items="Html.GetEnumSelectList<WhoToInheritEstate>()"></select>
	  	<span asp-validation-for="ContRemBeneficiary"></span>
	  	<br />

	  	<label asp-for="PersonToInherit">Who would you like to inherit your estate when you die?</label>
	  	<select asp-for="PersonToInherit" asp-items="Html.GetEnumSelectList<WhoToInheritEstate>()"></select>
	  	<span asp-validation-for="PersonToInherit"></span>
	  	<br />

	  	<label asp-for="PersonalRep">Whom do you wish to serve as your personal representative?</label>
	  	<select asp-for="PersonalRep" asp-items="Html.GetEnumSelectList<WhoToInheritEstate>()"></select>
	  	<span asp-validation-for="PersonalRep"></span>
	  	<br />

	  	<label asp-for="BackupRep">Whom do you wish to serve as your backup representative?</label>
	  	<select asp-for="BackupRep" asp-items="Html.GetEnumSelectList<WhoToInheritEstate>()"></select>
	  	<span asp-validation-for="BackupRep"></span>
	  	<br />

	  	<p>@TempData["Error"]</p>
	  <input type="submit" value="Sign up" />

	  </form>