@page
@model WAWillClinicFrontEnd.Pages.SignupModel;
@{
    Layout = "_Layout";
}

<h2>Sign Up</h2>

<p class="content">If you would like to join the Will Clinic, please sign up below.</p>
<br/><br />
	 <form method="post" class="content" style="text-align:left">
	 	<label asp-for="Name">Full Legal Name</label>
	 	<input type="text" name="Name" required placeholder="Full Name" title="Please input full name." />
	 	<br />

	 	<label asp-for="PhoneNumber">Phone Number</label>
	 	<input type="tel" name="Phone" required pattern="[0-9]{10}" placeholder="Phone Number" title="Please input a phone number" />
	 	<br />

	 	<label asp-for="Email">Email Address</label>
	 	<input type="email" name="Email" required placeholder="Email Address" title="Please input an email address" />
	 	<br />

	 	<label asp-for="IsWashingtonResident">Are you a Washington state resident?</label>
	 	<input type="checkbox" name="Yes" value="True" /> Yes <br />
	 	<input type="checkbox" name="No" value="False" /> No <br />
	 	<br />

	 	<label asp-for="PreferredTime">Please indicate your preferred time to receive service.</label>@*needs work.  AM? PM?*@
		<input type="checkbox" name="AM" value="True" /> AM <br />
		<input type="checkbox" name="PM" value="False" /> PM <br />
		<br />

		 <label asp-for="SpouseName">Full legal name of your spouse</label>
		 <input type="text" name="SpouseName" required placeholder="Spouse Name" title="Please enter the full legal name of your spouse." />
		 <br />

		 <label asp-for="IsCurrentlyPregnant">Do you have any minor children?  Or, are you, your spouse, or your partner currently pregnant?</label>
		 <input type="checkbox" name="Yes" value="True" /> Yes <br />
		 <input type="checkbox" name="No" value="False" /> No <br />
		 <br />

		 <label asp-for="MinorChildName">Full legal name(s) of your MINOR child(ren).</label>
		 <input type="text" name="MinorChildName" required placeholder="Minor Child's Name" title="Child's name." />
		 <br />

	 <input type="submit" value="Sign up" />


	 </form>