@page
@model WAWillClinicFrontEnd.Pages.SignUpConformationModel
@{
    ViewData["Title"] = "Sign Up Conformation";
    Layout = "_Layout";

}
    <h1>Thank you for Signing up with the Will Clinic</h1>