@page
@model WAWillClinicFrontEnd.Pages.VolunteerConformationModel
@{
    ViewData["Title"] = "Volunteer Conformation";
    Layout = "_Layout";

}
<h1>Thank you for your interest in helping with the Will Clinic</h1>