@page
@model WAWillClinicFrontEnd.Pages.VolunteerModel;
@{
    Layout = "_Layout";
}

<h1>Volunteer</h1>
<div>
    <p>

        WA Vets Will Clinic events are run entirely by volunteers. Donating your time allows us to 
        provide FREE estate planning documents to Veterans.
    </p>
    <p>
        If you are an attorney, notary public, law student, or community member, and would like to volunteer 
        or learn more about the WA Vets Will Clinic, please select your volunteer location below and fill 
        out the volunteer form. You may also get in touch with the WA Vets Will Clinic via the contact page.
    </p>
</div>
<div>
    <h2>Please select your volunteer location:</h2>
    <ul>
        <li>Pasco (Tri-Cities): Click here</li>
        <li>Wenatchee: Click here</li>
        <li>Spokane: Click here</li>
        <li>Seattle (North Sound): Click here</li>
        <li>Kitsap / Bremerton: Click here</li>
    </ul>
</div>
