@page
@model WAWillClinicFrontEnd.Pages.VolunteerModel;
@{
    Layout = "_Layout";
}

<div class="side-lines">
	<h2 class="blue"><span>Volunteer</span></h2>
</div>
<div class="content">
	<p>
		WA Vets Will Clinic events are run entirely by volunteers. Donating your time allows us to
		provide FREE estate planning documents to Veterans.
	</p>
	<p>
		If you are an attorney, notary public, law student, or community member, and would like to volunteer
		or learn more about the WA Vets Will Clinic, please select your volunteer location below and fill
		out the volunteer form. You may also get in touch with the WA Vets Will Clinic via the contact page.
	</p>

	<p id="qual-descript">Please select your volunteer location:</p>
	<section class="index">
		<div id="left-qual">
			<div class="qual-rec"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeaanzS4w-qHMNgAwvYJdjOqjF4n167riNuZjvXu26StBq9WA/viewform?formkey=dGd4eFpMTmdwenJNa2pPMEZMdE91QXc6MA">Pasco (Tri-Cities): Click here</a>
		</div>
			<div class="qual-rec">Wenatchee: Click here</div>
			<div class="qual-rec">Spokane: Click here</div>
		</div>
		<div id="right-qual">
			<div class="qual-rec">Seattle (North Sound): Click here</div>
			<div class="qual-rec">Kitsap / Bremerton: Click here</div>
		</div>
	</section>
</div>
