@page
@model WAWillClinicFrontEnd.Pages.VolunteerConformationModel
@{
    ViewData["Title"] = "Volunteer Conformation";
    Layout = "_Layout";

}
<div class="container">
    <h4>Thank you for your interest in helping with the Will Clinic</h4>
    <p>An conformation email will be sent shortly with further information.</p>
    <p>For any other questions refer to our <a asp-page="/contact">Contact Page</a></p>
</div>
