@page
@model WAWillClinicFrontEnd.Pages.VolunteerModel;
@{
    ViewData["Title"] = "Volunteer";
    Layout = "_Layout";
}

<h2>Volunteer</h2>

<div class="content">
	<p>
		WA Vets Will Clinic events are run entirely by volunteers. Donating your time allows us to
		provide FREE estate planning documents to Veterans.
	</p>
	<p>
		If you are an attorney, notary public, law student, or community member, and would like to volunteer
		or learn more about the WA Vets Will Clinic, please select your volunteer location below and fill
		out the volunteer form. You may also get in touch with the WA Vets Will Clinic via the contact page.
	</p>
</div>

    <div class="container">
        <div class="card-deck row" id="volunteer_deck">
            <div class="card mx-auto" id="volunteer_card">
                <form method="post">
                    <div class="form-group col-lg-10">
                        <label asp-for="Input.VolunteerCity">City</label>
                        <select class="form-control" asp-for="Input.VolunteerCity" asp-items="@Html.GetEnumSelectList(typeof(WAWillClinicFrontEnd.Models.ViewModels.VolunteerViewModel.City))"></select>
                        <span asp-validation-for="Input.VolunteerCity"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.FirstName">First Name</label>
                            <input asp-for="Input.FirstName" class="form-control" type="text" placeholder="First Name" /> 
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.LastName">Last Name</label>
                            <input asp-for="Input.LastName" class="form-control" type="text" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-10">
                            <label asp-for="Input.Email">Email</label>
                            @*<p>Email is our preferred method of communication</p>*@
                            <input asp-for="Input.Email" class="form-control" type="text" placeholder="YourEmail@email.com" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label asp-for="Input.PhoneNumber">Phone Number</label>
                            <input asp-for="Input.PhoneNumber" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label asp-for="Input.VolunteerProfession">Volunteer Type/Profession</label>
                            @*<p>Please indicate if you are an attorney, law student, notary public, or community member / other. Please note: the WA Vets Will Clinic WILL be providing malpractice / errors & omission coverage for attorney volunteers.</p>*@
                            <select class="form-control" asp-for="Input.VolunteerProfession" asp-items="@Html.GetEnumSelectList(typeof(WAWillClinicFrontEnd.Models.ViewModels.VolunteerViewModel.Profession))"></select>
                            <span asp-validation-for="Input.VolunteerProfession"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label asp-for="Input.Time">Volunteer Time</label>
                            @*<p>
                                Please indicate what time you are available to volunteer. Check BOTH boxes if you can volunteer all day. (Note: actual Clinic times will vary)
                                Morning (8am - noon)
                            </p>*@
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Input.Time" type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">Morning (8am - noon)</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Input.Time" type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">Afternoon (1pm - 5pm)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md">
                            <label asp-for="Input.Pairing">Attorney Pairing</label>
                            @*<p>Please indicate if you need to be paired with a WSBA member / experienced attorney</p>*@
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Input.Time" type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">I am a non-Washington licensed attorney and need to be paired with a WSBA member</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Input.Time" type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">I am a new practitioner / new to estate planning and would like to be paired with a mentor</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Input.Time" type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label">Neither of the above options apply</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg">
                            <label asp-for="Input.Comments">Additional Comments</label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>








	@*<p id="qual-descript">Please select your volunteer location:</p>
	<section class="index">
		<div id="left-qual">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeaanzS4w-qHMNgAwvYJdjOqjF4n167riNuZjvXu26StBq9WA/viewform?formkey=dGd4eFpMTmdwenJNa2pPMEZMdE91QXc6MA" target="_blank"><div class="qual-rec">Pasco (Tri-Cities): Click here
		</div></a>
            <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHlOd1ZwVVVvaHIzX2hPU21BckxqVFE6MA" target="_blank"><div class="qual-rec">Wenatchee: Click here</div></a>
            <a href="https://docs.google.com/spreadsheet/viewform?formkey=dDdtSklMTmptV25RTldFVFlBN2JCSWc6MA" target="_blank"><div class="qual-rec">Spokane: Click here</div></a>
		</div>
		<div id="right-qual">
            <a href="https://docs.google.com/a/wavetswillclinic.com/spreadsheet/viewform?usp=drive_web&formkey=dGJ4c3dmeUpoZ1ExdVpBeEx6VTFjTXc6MA#gid=0" target="_blank"><div class="qual-rec">Seattle (North Sound): Click here</div></a>
			<a href="https://docs.google.com/a/wavetswillclinic.com/forms/d/e/1FAIpQLSe0ofInYMNlLtC4E8tQ1l3mMwdj8BFoeq3uHbF2GDGIQSyAWQ/viewform" target="_blank"><div class="qual-rec">Kitsap / Bremerton: Click here</div></a>
		</div>
	</section>
</div>*@
