@page
@model WAWillClinicFrontEnd.Pages.Admin.AdminManagerModel
@{
    ViewData["Title"] = "AdminManager";
    Layout = "_Layout";
}

<body>
    <h1>Admin Manager</h1>
    <div class="container">
        <div class="card-deck">
            <div class="card mx-auto" id="volunteer_form">

            </div>
        </div>
    </div>



</body>