@page
@model WAWillClinicFrontEnd.Pages.Change_PasswordModel
@{
    Layout = "_Layout";
}

<section class="form-border">
    <h2>Change Password</h2>
    <form method="post">
        <input type="hidden" asp-for="Name" value="@User.Identity.Name"/>
        <label asp-for="Password">Password</label>
        <br/>
        <input type="password" name="password" required placeholder="Password"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!#$%^&*(),.?:{}|<>]).{6,}"
               title="Please enter a password with atleast one of: number, one upper case, one lowercase, special character and at least 6 characters long" />
        <br />
        <label asp-for="ConfirmPassword">Confirm your password</label>
        <br/>
        <input type="password" name="confirmpassword" required placeholder="Confirm Password" title="Please confirm your password" />
        <br />
        <input type="submit" />
    </form>
</section>