//Source Sans Pro for main text and menus, Fjalla for smaller text
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:700');

$colors: (
	nav-main: #006CFF,// blue
	nav-dark: #0C3BEC, //darker blue
	nav-light: #F8FCFF, //looks white, but is slightly blue
	primary: #EEEEEE,//light gray
	primary-dark: #282828, //dark gray
	primary-accent: #006CFF //blue
);

@function color($color-name){
	@return map-get($colors, $color-name)
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}