@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:700");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:700");
body, html {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EEEEEE; }

body, #white-head {
  min-width: 320px; }

main {
  padding: 11.5vh 0.25em; }
  @media (min-width: 885px) {
    main {
      padding: 11.5vh 1em; } }
  @media (min-width: 1066px) {
    main {
      padding: 11.5vh 2em; } }
  @media (min-width: 1300px) {
    main {
      padding: 11.5vh 4em; } }

#white-head {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 1; }
  #white-head h1 {
    font-size: 1.5em;
    padding: 2vh 4.25vw;
    float: left; }
  #white-head ul {
    display: none; }
  #white-head a {
    color: #282828;
    text-decoration: none; }
    #white-head a:hover, #white-head a:active {
      color: #007AFF; }
  @media (min-width: 1066px) {
    #white-head .fa-bars {
      display: none; }
    #white-head ul {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 1em 0 1em 1em;
      overflow: hidden; }
      #white-head ul li {
        float: left; }
        #white-head ul li a {
          text-decoration: none;
          text-transform: uppercase;
          font-family: "Source Sans Pro", sans-serif;
          display: block;
          color: #282828;
          text-align: center;
          font-size: 1em;
          padding: 2vh 4vh; } }
      @media (min-width: 1066px) and (min-width: 1300px) {
        #white-head ul li a {
          padding: 2vh 7vh; } }

#blue-head {
  display: none;
  padding-bottom: 10vh;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  height: 120vh;
  background-color: #007AFF;
  overflow-y: hidden;
  z-index: 2;
  font-family: "Source Sans Pro", sans-serif; }
  #blue-head h1 {
    font-size: 2em;
    color: #EEEEEE;
    padding: 2vh 0 5.5vh 8.5vw; }
  #blue-head a {
    color: #FFFFFF;
    text-decoration: none; }
    #blue-head a:hover, #blue-head a:active {
      color: #282828; }
  #blue-head nav ul {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 4vh; }
    #blue-head nav ul li {
      margin: 1.5rem 0; }
      #blue-head nav ul li > a {
        border-left: 5px solid white;
        padding-left: 4.25vw;
        padding-top: .5rem;
        padding-bottom: .5rem; }
  #blue-head p, #blue-head ul > li {
    color: #081ABC;
    text-transform: uppercase;
    font-family: "Fjalla One", serif;
    padding-left: 8.5vw;
    padding-right: 8.5vw;
    line-height: 1.25em; }
    #blue-head p strong, #blue-head ul > li strong {
      color: #FFFFFF; }
  #blue-head div {
    border: 0.5px #081ABC solid;
    margin: 1rem auto;
    padding: 2rem;
    width: 70%; }
    #blue-head div ul > li {
      list-style-type: disc;
      padding-left: .25em; }

.cards {
  display: flex;
  flex-flow: row wrap; }

.card {
  margin: 0 auto;
  outline: solid 1px red;
  width: 90%;
  text-align: center; }
  .card .arrow-container {
    margin-top: 1em; }
  @media (min-width: 1066px) {
    .card {
      width: calc((100%) / 2); } }
  .card:hover .card__inner {
    color: #FFFFFF;
    background-color: #007AFF;
    transform: scale(1);
    border-left: #FFFFFF solid 5px; }
  .card__inner {
    position: relative;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #282828;
    font-size: 1.25em;
    text-align: center;
    transition: all 0.2s ease-in-out;
    padding: 1em;
    box-shadow: 0 0 0.15rem 0.015rem rgba(0, 0, 0, 0.15);
    border-left: #007AFF solid 5px;
    margin: 1rem .5rem; }
    @media (min-width: 1066px) {
      .card__inner {
        margin: 1.5rem; } }
    .card__inner:after {
      transition: all 0.3s ease-in-out; }
  .card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    box-shadow: 0 0 0.15rem 0.015rem rgba(0, 0, 0, 0.25);
    /*justify-content: center;
        align-items: center;*/
    font-family: "Source Sans Pro", sans-serif;
    color: #282828;
    /*border: 1px solid color(nav-main);*/
    font-size: 1.111em;
    line-height: 1.666em; }
    @media (min-width: 1066px) {
      .card__expander {
        width: calc(300%); } }
  .card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
    color: #007AFF; }
  .card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0; }
  .card.is-expanded .card__inner {
    background-color: #007AFF; }
    .card.is-expanded .card__inner .fa-chevron-down {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .card.is-expanded .card__inner:after {
      content: "";
      opacity: 1;
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      bottom: -30px;
      left: calc(50% - 15px);
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #333a45; }
  .card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
    padding: 1em; }
    .card.is-expanded .card__expander .card-text {
      margin: 0 auto; }
      .card.is-expanded .card__expander .card-text a {
        text-decoration: none;
        color: #007AFF; }
        .card.is-expanded .card__expander .card-text a:hover {
          color: #282828;
          border: #007AFF;
          transition: all 0.15s ease 0s; }
      .card.is-expanded .card__expander .card-text img {
        width: 100px;
        height: 100px;
        object-fit: scale-down; }
      .card.is-expanded .card__expander .card-text li {
        display: inline-block; }
  .card.is-expanded:hover .card__inner {
    transform: scale(1); }
  .card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5; }
  .card.is-inactive:hover .card__inner {
    background-color: red;
    transform: scale(1); }

@media (min-width: 1066px) {
  .card:nth-of-type(2n-1) .card__expander {
    width: calc(195%); }
  .card:nth-of-type(2n) .card__expander {
    width: calc(195%);
    margin-left: calc(-100%); }
  .fifthCard {
    width: calc(195%);
    margin-left: calc(-50%); }
  .card__expander {
    width: calc(300% - 30px); } }

/*$light-gray: #eceef1;
$gray: darken(#eceef1, 30%);
$slate: darken(#eceef1, 70%);
$turquoise: #1abc9c;

* {
	box-sizing: border-box;
}

body {
	background: $light-gray;
	font-family: 'Slabo 27px', serif;
	color: $slate;
}

.wrapper {
	margin: 5em auto;
	max-width: 1000px;
	background-color: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.header {
	padding: 30px 30px 0;
	text-align: center;

	&__title {
		margin: 0;
		text-transform: uppercase;
		font-size: 2.5em;
		font-weight: 500;
		line-height: 1.1;
	}

	&__subtitle {
		margin: 0;
		font-size: 1.5em;
		color: $gray;
		font-family: 'Yesteryear', cursive;
		font-weight: 500;
		line-height: 1.1;
	}
}

//Grid Container
.cards {
	padding: 15px;
	display: flex;
	flex-flow: row wrap;
}

//Cards
.card {
	margin: 15px;
	width: calc((100% / 3) - 30px);
	transition: all 0.2s ease-in-out;
	//media queries for stacking cards
	@media screen and (max-width: 991px) {
		width: calc((100% / 2) - 30px);
	}

	@media screen and (max-width: 767px) {
		width: 100%;
	}

	&:hover {
		.card__inner {
			background-color: $turquoise;
			transform: scale(1.05);
		}
	}

	&__inner {
		width: 100%;
		padding: 30px;
		position: relative;
		cursor: pointer;
		background-color: $gray;
		color: $light-gray;
		font-size: 1.5em;
		text-transform: uppercase;
		text-align: center;
		transition: all 0.2s ease-in-out;

		&:after {
			transition: all 0.3s ease-in-out;
		}

		.fa {
			width: 100%;
			margin-top: .25em;
		}
	}
	//Expander
	&__expander {
		transition: all 0.2s ease-in-out;
		background-color: $slate;
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		color: $light-gray;
		font-size: 1.5em;

		.fa {
			font-size: 0.75em;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	&.is-collapsed {

		.card__inner {
			&:after {
				content: "";
				opacity: 0;
			}
		}

		.card__expander {
			max-height: 0;
			min-height: 0;
			overflow: hidden;
			margin-top: 0;
			opacity: 0;
		}
	}

	&.is-expanded {

		.card__inner {
			background-color: $turquoise;

			&:after {
				content: "";
				opacity: 1;
				display: block;
				height: 0;
				width: 0;
				position: absolute;
				bottom: -30px;
				left: calc(50% - 15px);
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-bottom: 15px solid #333a45;
			}
			//folder open icon
			.fa:before {
				content: "\f115";
			}
		}

		.card__expander {
			max-height: 1000px;
			min-height: 200px;
			overflow: visible;
			margin-top: 30px;
			opacity: 1;
		}

		&:hover {
			.card__inner {
				transform: scale(1);
			}
		}
	}

	&.is-inactive {
		.card__inner {
			pointer-events: none;
			opacity: 0.5;
		}

		&:hover {
			.card__inner {
				background-color: $gray;
				transform: scale(1);
			}
		}
	}
}


//Expander Widths

//when 3 cards in a row
@media screen and (min-width: 992px) {

	.card:nth-of-type(3n+2) .card__expander {
		margin-left: calc(-100% - 30px);
	}

	.card:nth-of-type(3n+3) .card__expander {
		margin-left: calc(-200% - 60px);
	}

	.card:nth-of-type(3n+4) {
		clear: left;
	}

	.card__expander {
		width: calc(300% + 60px);
	}
}

//when 2 cards in a row
@media screen and (min-width: 768px) and (max-width: 991px) {

	.card:nth-of-type(2n+2) .card__expander {
		margin-left: calc(-100% - 30px);
	}

	.card:nth-of-type(2n+3) {
		clear: left;
	}

	.card__expander {
		width: calc(200% + 30px);
	}
}*/

