@import url(base.css);
#logo {
  margin: 10rem;
  outline: 10px dashed red;
  background-color: red; }
  #logo .fa-bars {
    color: color(nav-main);
    font-size: 1em;
    line-height: 40px;
    float: right;
    padding-right: 1em; }

