@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:700");
#logo {
  background-color: #FFFFFF; }
  #logo h1 {
    font-size: 2em;
    padding: 2.5vh 0 2.5vh 8.5vw; }
  #logo a {
    color: #282828;
    text-decoration: none; }
    #logo a:hover, #logo a:active {
      color: #ff0000; }
  #logo .fa-bars {
    color: #007AFF;
    font-size: 1em;
    line-height: 40px;
    float: right;
    padding-right: 1em; }

