@import "../css/theme.scss";
@import "../css/module.scss";

/*#white-head {
    background-color: color(white);
    position: fixed;
    width:100%;

    h1 {
        font-size: 1.5em;
        padding: $vert-padding $left-padding/2;
		float: left;
    }

    a {
        color: color(primary-dark);
        text-decoration: none;

        &:hover, &:active {
            color: color(nav-main);
        }
    }
}*/
