@import "../css/theme.scss";

#logo {
    background-color: color(white);
    position: fixed;
    width:100%;

    h1 {
        font-size: 1.5em;
        padding: $vert-padding 0 $vert-padding $left-padding;
    }

    a {
        color: color(primary-dark);
        text-decoration: none;

        &:hover, &:active {
            color: #ff0000;
        }
    }

}
