@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:700");
.fa-times {
  font-size: 1em;
  color: #FFFFFF;
  line-height: 40px;
  float: right;
  padding-right: 1em; }
  .fa-times:hover, .fa-times:active {
    color: #081ABC;
    cursor: pointer; }

.fa-bars {
  color: #007AFF;
  font-size: 1.75em;
  float: right;
  padding-right: 1.2em;
  margin-top: 1em; }
  .fa-bars:hover, .fa-bars:active {
    color: #081ABC;
    cursor: pointer; }

@media (max-width: 880px) {
  #logo ul {
    display: none; } }

@media (min-width: 880px) {
  #logo .fa-bars {
    display: none; }
  #logo ul {
    list-style-type: none;
    margin: 0;
    padding: 1em 0 1em 1em;
    overflow: hidden; }
    #logo ul li {
      float: left; }
      #logo ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Source Sans Pro", sans-serif;
        display: block;
        color: #282828;
        text-align: center;
        font-size: 1em;
        padding: 2.5vh 5vh; } }
      @media (min-width: 880px) and (min-width: 1300px) {
        #logo ul li a {
          padding: 2.5vh 20vh; } }

main {
  text-transform: uppercase;
  color: #282828; }
  main h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 1em 2em; }
  @media (min-width: 1300px) {
    main h2 {
      margin: 1em 10em; } }
  @media (min-width: 880px) {
    main h2 {
      font-size: 2.666em;
      margin: 1em 4em; } }
  main .link-div {
    text-align: center;
    margin: 1em auto 2.7em auto; }
  main a {
    text-decoration: none;
    outline: 1px solid #828282;
    padding: .75em 2em;
    color: #282828;
    font-family: "Fjalla One", serif; }
    main a:hover {
      background-color: #007AFF;
      color: #FFFFFF;
      outline: none;
      transition: all 0.15s ease 0s; }
  main .side-lines h3 {
    width: 80%;
    text-align: center;
    font-family: "Fjalla One", serif;
    border-bottom: 0.1px solid #828282;
    line-height: 0.1em;
    margin: 1.25em auto; }
  main .side-lines h3.blue {
    color: #007AFF;
    font-size: 1.1em;
    letter-spacing: .5px;
    margin-top: 3em; }
  main .side-lines h3 span {
    background: #EEEEEE;
    padding: 0 2em; }
  main .side-lines h3.grey {
    display: none; }
  @media (min-width: 880px) {
    main .side-lines h3.grey {
      display: block;
      font-size: 1.5em;
      letter-spacing: 4px;
      padding-top: 1em; }
    main .side-lines h3.grey span {
      display: inline;
      padding: 0 2.75em; }
    main .side-lines h3 {
      width: 50%; } }
  main p#qual-descript {
    text-transform: none;
    text-align: center;
    font-size: 1.35em;
    padding: 0.5em 7em; }
    @media (min-width: 880px) {
      main p#qual-descript {
        font-size: 1.75em; } }
  main section.index {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em; }
    @media (min-width: 880px) {
      main section.index {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "left-qual right-qual";
        padding: 0 1em; } }
  main .qual-rec {
    font-family: "Fjalla One", serif;
    box-shadow: 0 0 0.15rem 0.015rem rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
    border-left: #007AFF solid 5px;
    display: inline-block;
    width: 80%;
    background-color: #FFFFFF;
    margin: 0.5em auto;
    padding: 1em 0.5em;
    color: #828282; }
    @media (min-width: 880px) {
      main .qual-rec {
        width: 88%;
        text-align: left;
        padding: 1em;
        font-size: 1.25em; } }

