//Source Sans Pro for main text and menus, Fjalla for smaller text
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:700');

$colors: ( 
    nav-main: #007AFF, // main blue
    nav-dark: #081ABC, //dark blue
    primary: #EEEEEE, //light grey
    primary-dark: #282828, //dark grey
    main-grey: #828282, //main grey
    white: #FFFFFF
);

$big-gut: 2em;
$small-gut: $big-gut/2;

$left-padding: 8.5vw;
$vert-padding: 2vh;

$main-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Fjalla One', serif;

$tablet: 885px;
$desktop: 1066px;
$big-desktop: 1300px;

@function color($color-name) {
	@return map-get($colors, $color-name)
}

@mixin big-desktop {
    @media(min-width:#{$big-desktop}) {
        @content;
    }
}

@mixin desktop {
    @media(min-width:#{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media(min-width:#{$tablet}) {
        @content;
    }
}